	<!--Start footer-bottom-area-->
	<section class="footer-bottom-area">
    <div class="auto-container">
        <div class="clearfix">  
      <div class=" footer-text-center">
        <div class="coppy-right"><p>&copy;2016 Copyright TeamArchiYogi. All rights reserved.</p></div>
      </div>
      
        </div>
    </div>
</section>
<!--End footer-bottom-area-->
