
  
  <style type="text/css">
    .sec-padding {
    padding: 44px 0 !important;
}
  </style>




<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>About Us</h3>
    </div><!-- /.title pull-left -->
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="index.html">Home</a></li>
        <li><span>About Us</span></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.breadcumb pull-right -->
  </div><!-- /.auto-container -->
</section><!-- /.inner-banner -->

<section class="latest-news-area blog-page sec-padding single-blog-post">
    <div class="auto-container">
        <div class="row">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <!--Start single  item-->
        <div class="latest-news">
          
          <div class="latest-news-text clearfix">
            <div class="date">
               <h6>>></h6>
                
            </div>
            <h4>Architectural Profile</h4>
          </div>
          <div class="latest-text clearfix">
            <br />
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniol res eos qui rate voluptatem sequi nesciunt  Neque porro quisquam est qui dolorem ipsum quia dolore sit amet con sectetur adipisci vel sed quia suthagara lukuthea satham</p><br />
            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.  incidunt ut lab dolore magnam aliquam quaerat voluptatem.</p><br />
            
            <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to- one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Neque porro quisquam est qui dolorem ipsum quia dolore sit amet con sectetur adipi sci vel sed quia suthagara lukuthea satham Collaboratively.</p><br />


          </div>
          <img src=".\assets\img\teamArchiyogi\owner.jpg"  alt="Awesome Image"/>
        </div>
        <!--End single  item-->
      

      

      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        
        
        <div class="single-sidebar">
          <div class="blog-post">
            <div class="title">
              <h3>Projects</h3>
            </div><!-- /.title -->
              <div class="img-box">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                      <img src=".\assets\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
                      <p style="text-align: center"><b> Templet Name </b></p>
                      </div>
                  
                      <div class="item">
                      <img src=".\assets\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
                      <p style="text-align: center"><b> Templet Name </b></p>
                      </div>
                    
                      <div class="item">
                      <img src=".\assets\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
                      <p style="text-align: center"><b> Templet Name </b></p>
                      </div>
                    </div>
                
                    </div>
                </div><!-- /.img-box -->
                <br>
                <div class="img-box">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                      <img src=".\assets\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
                      <p style="text-align: center"><b> Templet Name </b></p>
                      </div>
                  
                      <div class="item">
                      <img src=".\assets\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
                      <p style="text-align: center"><b> Templet Name </b></p>
                      </div>
                    
                      <div class="item">
                      <img src=".\assets\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
                      <p style="text-align: center"><b> Templet Name </b></p>
                      </div>
                    </div>
                
                    </div>
                </div><!-- /.img-box -->
                
            
          </div><!-- /.blog-post -->
        </div><!-- /.single-sidebar -->
      
      </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>





