<section class="inner-banner light-black-bg">
	<div class="auto-container clearfix">
		<div class="title pull-left">
			<h3>Our Projects.</h3>
		</div><!-- /.title pull-left -->
		<div class="breadcumb pull-right">
			<ul class="list-inline">
				<li><a href="index.html">Home</a></li>
				<li><span>Projects.</span></li>
			</ul><!-- /.list-inline -->
		</div><!-- /.breadcumb pull-right -->
	</div><!-- /.auto-container -->
</section><!-- /.inner-banner -->



		<section class="about-info sec-padding">
				<div class="auto-container">
					<div class="row">
						<div class="col-md-9 col-sm-12 col-xs-12"> 
								<section class="chart-section sec-padding">
										<div class="auto-container">
											<div class="row boxshadow">
												<div class="col-md-4 col-sm-4 col-xs-12 text-right">
													<img src="./assets/img/teamArchiyogi/bungalow.jpg" class="boximg" alt="Awesome Image"/>
												</div><!-- /.col-md-6 -->
												<div class="col-md-8 col-sm-8 col-xs-12">
													<div class="chart-text-right">
														<h4>Project name</h4>
														<p><b>Location :</b> Gogol Margao</p>
														<p><b>Owner :</b> Gogol Margao</p>
														<p>Nemo enim ipsam voluptatem quia voluptas elits to consectetuer ux adipiscing elit, sed diam nonummy aliquam elites hales lites erat volutpat. </p>
													
													
													</div><!-- /.chart-text-right -->
												</div><!-- /.col-md-6 -->			
											</div><!-- /.row -->
										</div><!-- /.auto-container -->	
									</section>
										<section class="chart-section sec-padding">
										<div class="auto-container">
											<div class="row boxshadow">
												<div class="col-md-4 col-sm-4 col-xs-12 text-right">
													<img src="./assets/img/teamArchiyogi/bungalow.jpg" class="boximg" alt="Awesome Image"/>
												</div><!-- /.col-md-6 -->
												<div class="col-md-8 col-sm-8 col-xs-12">
													<div class="chart-text-right">
														<h4>Project name</h4>
														<p><b>Location :</b> Gogol Margao</p>
														<p><b>Owner :</b> Gogol Margao</p>
														<p>Nemo enim ipsam voluptatem quia voluptas elits to consectetuer ux adipiscing elit, sed diam nonummy aliquam elites hales lites erat volutpat. </p>
													
													
													</div><!-- /.chart-text-right -->
												</div><!-- /.col-md-6 -->			
											</div><!-- /.row -->
										</div><!-- /.auto-container -->	
									</section>
										<section class="chart-section sec-padding">
										<div class="auto-container">
											<div class="row boxshadow">
												<div class="col-md-4 col-sm-4 col-xs-12 text-right">
													<img src="./assets/img/teamArchiyogi/bungalow.jpg" class="boximg" alt="Awesome Image"/>
												</div><!-- /.col-md-6 -->
												<div class="col-md-8 col-sm-8 col-xs-12">
													<div class="chart-text-right">
														<h4>Project name</h4>
														<p><b>Location :</b> Gogol Margao</p>
														<p><b>Owner :</b> Gogol Margao</p>
														<p>Nemo enim ipsam voluptatem quia voluptas elits to consectetuer ux adipiscing elit, sed diam nonummy aliquam elites hales lites erat volutpat. </p>
													
													
													</div><!-- /.chart-text-right -->
												</div><!-- /.col-md-6 -->			
											</div><!-- /.row -->
										</div><!-- /.auto-container -->	
									</section>

									

										
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
							<div class="single-sidebar">
									<div class="blog-post">
											<div class="title">
													<h3>Projects</h3>
												</div><!-- /.title -->
										
										<div id="myCarousel" class="carousel slide" data-ride="carousel">
												
											
												<!-- Wrapper for slides -->
												<div class="carousel-inner">
												  <div class="item active">
													<img src=".\assets\img\teamArchiyogi\owner.jpg" alt="Los Angeles" style="width:100%;">
													<p style="text-align: center"><b> Templet Name </b></p>
												  </div>
											
												  <div class="item">
													<img src=".\assets\img\teamArchiyogi\owner.jpg" alt="Chicago" style="width:100%;">
													<p style="text-align: center"><b> Templet Name </b></p>
												  </div>
												
												  <div class="item">
													<img src=".\assets\img\teamArchiyogi\owner.jpg" alt="New york" style="width:100%;">
													<p style="text-align: center"><b> Templet Name </b></p>
												  </div>
												</div>
											
												
											  </div>
											  <br/>
											  <div id="myCarousel" class="carousel slide" data-ride="carousel">
												
											
													<!-- Wrapper for slides -->
													<div class="carousel-inner">
													  <div class="item active">
														<img src=".\assets\img\teamArchiyogi\owner.jpg" alt="Los Angeles" style="width:100%;">
														<p style="text-align: center"><b> Templet Name </b></p>
													  </div>
												
													  <div class="item">
														<img src=".\assets\img\teamArchiyogi\owner.jpg" alt="Chicago" style="width:100%;">
														<p style="text-align: center"><b> Templet Name </b></p>
													  </div>
													
													  <div class="item">
														<img src=".\assets\img\teamArchiyogi\owner.jpg" alt="New york" style="width:100%;">
														<p style="text-align: center"><b> Templet Name </b></p>
													  </div>
													</div>
												
													
												  </div>
									</div><!-- /.blog-post -->
								</div><!-- /.single-sidebar -->
					</div>
			
			
			
					</div><!-- /.row -->
				</div><!-- /.auto-container -->
			</section><!-- /.about-info -->










