<section class="inner-banner light-black-bg">
	<div class="auto-container clearfix">
		<div class="title pull-left">
			<h3>Contact Us</h3>
		</div><!-- /.title pull-left -->
		<div class="breadcumb pull-right">
			<ul class="list-inline">
				<li><a href="index.html">Home</a></li>
				<li><span>Contact Us</span></li>
			</ul><!-- /.list-inline -->
		</div><!-- /.breadcumb pull-right -->
	</div><!-- /.auto-container -->
</section><!-- /.inner-banner -->

<div class="contact-page contact-form-wrapper sec-padding">
	<div class="auto-container">
		<div class="row">
			<div class="col-md-12">

<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade shop-slider" data-ride="carousel">           
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1" style="background-image: url(assets/img/teamArchiyogi/owner.jpg);">
           
       
        </div>
        <div class="item  slide-2" style="background-image: url(assets/img/slider/1.jpg);">
            
                        
        </div>
        <div class="item  slide-3" style="background-image: url(assets/img/slider/2.jpg);">
       </div>
           
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a>
</div>

			</div>
		</div>
	</div>
</div>


<div class="contact-page contact-form-wrapper sec-padding">
	<div class="auto-container">
		<div class="row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242117.68101773725!2d73.72287856712997!3d18.524890422093424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1533560353283" width="560" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<h5>If Any Query Drop Me A Mali</h5>
				<form action="http://wp1.themexlab.com/html/digital-media/inc/sendemail.php" class="validate-cf contact-form">
					<input type="text" name="name"  placeholder="Name" />
					<input type="text" name="email"  placeholder="Email" />
					<input type="text" placeholder="Your Mobile/Phone" />
					<select class="form-control" id="sel1" >
            <option selected>Select Project</option>
            <option>Bunglaws</option>
            <option>Residential Complex</option>
            <option>Temples</option>
            <option>Hotel Project</option>
            <option>Raw Houses</option>
            <option>Smarak</option>
            <option>Others</option>
					  </select>
					  <br>
					<textarea rows="3" cols="50" placeholder="Your Comments/ Query"></textarea>	
					<button type="submit">Submit</button>
				</form>

			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.auto-container -->
</div><!-- /.contact-page contact-form-wrapper -->

<section class="contact-info gray-bg">
	<div class="auto-container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="single-contact-info">
					<i class="flaticon-placeholder"></i>
					<h3>Canacona Office</h3>
					<p>Nagarsear Building, Chawdi Canacona, Goa</p>					
					<p>Ph.No: 2643740  ,  Email ID: team@teamarchiyogi.in</p>
					<!-- <p>Email ID: team@teamarchiyogi.in</p> -->
					
				</div><!-- /.single-contact-info -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="single-contact-info">
					<i class="flaticon-placeholder"></i>
					<h3>Ponda Office</h3>
					<p>Dr.Gokhales  Building, Upper Bazar Ponda, Goa</p>					
					<p>Ph.No: 2315960 , Email ID: team@teamarchiyogi.in</p>
				</div><!-- /.single-contact-info -->
			</div><!-- /.col-md-3 -->
						
		</div><!-- /.row -->
	</div><!-- /.auto-container -->
</section><!-- /.contact-info -->


