.sec-padding {
    padding: 44px 0 !important;
}
.single-contact-info{
   padding: 20px 14px !important;
}
.gray-bg {
   background: #ddd !important;
}
.get-a-qoute input[type="text"], .get-a-qoute textarea{
       background: #bbb8b8 !important;
}

.contact-page .contact-form {
   margin-top: 20px !important;
   /*height: 34px !important;*/
}

.contact-page .contact-form input{
   height: 34px !important;
   margin-bottom: 14px !important;
}
textarea {
   height: 86px !important;
 
}
#minimal-bootstrap-carousel .carousel-inner .item{
   min-height: 414px !important;
}
