.imgf{
    border-radius: 90px !important;
    height: 130px !important;
}
.single-fact-counter{
   color: #fff;
font-size: 14px;
line-height: 29px;
font-weight: 600;
margin: 0;
/*text-transform: uppercase;*/
}
a {
color: #333 !important;
}